[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
flask = "~=1.1"
flask-sqlalchemy = "~=2.4"
flask-migrate = "~=2.5"
marshmallow-sqlalchemy = "~=0.24"
marshmallow = "~=3.6"
flask-smorest = "~=0.25"

[requires]
python_version = "3.7"
